table{
	width: 600px;
	height: 600px;
	border-collapse: collapse;
	border: solid #ffffff 2px;

}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd){
width: 200px;
height: 200px;
background-color: #850000

}
tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd){
width: 200px;
height: 200px;
background-color:#ffffff;
}

img{
	display: block;
	margin: auto;
}
