*{box-sizing:border-box; }
	.outer{
	width: 750px;
	height: 1680px;
	background: #d1d1d1;
	padding-left: 60px;
	padding-top: 55px;
}
.banner{
	width:640px;
	height: 148px;
	position: relative;
	top:5px;
	left: 2px;
}
.wrap{
	width: 640px;
	height: 1372px;
	background: #ffffff;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 40px;
	
}

h3{
	text-align: center;
	font-size: 16px;
	font-weight: normal;
}
.belly{
	width: 268.5px;
	height: 290px;
	float: left;
	margin-bottom: 60px;
}
.smile{
	width:268.5px;
	height: 290px;
	float: left;
	margin-bottom: 60px;
	
}
.upper_block{
	width:95%;
	height: 200px;
}
.heart,.chest,.back{
	width: 179px;
	float: left;
	
}
.lower_block{
	width:95%;
	height: 200px;
}
.clear{
	clear:both;
}
button{
    width:95%;
	height: 40px;
	background-color: #cf5b4e;
	text-align: center;
	border-radius: 10px;
	color:#ffffff;
	font-size: 15px;
	border: 0;
	outline: 0;
	margin-top: 20px;
	margin: auto;
	
}
.last{
	margin-top: 25px;
	width: 540px;
	position: relative;
	bottom:-50px;
	clear: both;
}
.last:last-child{
	margin-top: 100px;
}





